/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1280px) { 
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .header{
        display: none;
    }
    .logo img {
	width: 65px;
	background-color: #fff;
	position: relative;
	margin-top: 0;
	padding: 0;
	margin-left: 0px;
}
    .mr-auto, .mx-auto {
	margin-right: auto !important;
	text-align: right;
    margin-left: 0px !important;
}
    .navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .8rem;
	padding-left: .8rem;
	font-size: 14px;
	color: #fff !important;
}
    .event_section img {
	width: 95%;
	padding: 5px;
	border: 1px solid #999;
	margin-top: 3px;
	margin-bottom: 10px;
}
    .event_section p {
	font-size: 12px;
	margin: 0;
}
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    .header{
        display: none;
    }
    .logo img {
	width: 65px;
	background-color: #fff;
	position: relative;
	margin-top: 0;
	padding: 0;
	margin-left: 0px;
}
    .mr-auto, .mx-auto {
	margin-right: auto !important;
	text-align: right;
    margin-left: 0px !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: .8rem;
	padding-left: .8rem;
	font-size: 14px;
	color: #004890 !important;
}
    .menu {
	position: relative;
}
    .carousel-indicators li {
	display: none;
}
    .image1{
        display: none;
    }
    .image2{
        display: none;
    }
    .image3{
        display: none;
    }
    .image4{
        display: none;
    }
    .image5{
        display: none;
    }
    .image6{
        display: none;
    }
    .image7{
        display: none;
    }
    .footer_top{
        display: none
    }
    .table h3 {
	background-color: #fff;
	margin: 0px -15px !important;
	font-size: 16px;
	padding: 5px;
}
    .table p {
	color: #fff;
	text-align: center;
	padding: 10px 0px 0px 0px;
	font-size: 12px;
}
    .academic_section {
	padding: 20px 0;
	background-image: url("../../assets/img/academics-holder.jpg");
}
    .academic_section svg {
	color: #FF9E1B;
	margin-right: 5px;
	font-size: 15px;
}
    .academic_section .list-group-item-action {
	width: 100%;
	color: #495057;
	text-align: inherit;
	font-size: 12px;
}
    .about_section svg {
	color: #FF9E1B;
	font-size: 15px;
}
    .about_section p {
	font-size: 14px;
	padding-top: 15px;
}
    .read_more {
	font-size: 14px;
	color: #BF0105 !important;
	-webkit-transition: 1s;
	transition: 1s;
}
    .notice {
	background-color: #000;
	color: #fff;
	margin-bottom: 15px;
	padding: 10px;
	margin-top: 5px;
}
    .event_section .btn-light {
	color: #212529;
	background-color: #ccc;
	border-color: #ccc;
	border-radius: 0;
	margin: 10px 0;
}
    footer p {
	color: #fff;
	font-size: 14px;
	text-align: center;
}
    footer ul {
	margin-left: 176px;
	display: none;
}
    .event_section img {
	width: 95%;
	padding: 5px;
	border: 1px solid #999;
	margin-top: 3px;
}
    .event_section p {
	font-size: 12px;
	margin: 5px 0;
}
#nav-tabContent {
	padding-top: 25px;
}
.about_banner form input[type="text"] {
	width: 100%;
	border: none;
	background-color: #eeee;
	padding: 5px;
	margin: 05px 0;
	font-size: 12px;
}
.about_banner form input[type="email"] {
	width: 100%;
	border: none;
	background-color: #eeee;
	padding: 5px;
	margin: 5px 0;
	font-size: 12px;
}
.about_banner form textarea {
	width: 100%;
	border: none;
	margin: 5px 0;
	background-color: #eee;
	padding: 10px;
	font-size: 12px;
}
.about_banner form select {
	margin: 5px 0;
	width: 100%;
	border: none;
	background-color: #eee;
	padding: 5px;
	font-size: 12px;
}
.about_banner form button {
	display: block;
	margin: 5px 0;
	width: 100%;
	padding: 5px 0;
	background-color: #202633;
	border-color: #202633;
	font-size: 12px;
}
.notice {
	background-color: #000;
	color: #fff;
	margin-bottom: 15px;
	padding: 5px;
	margin-top: 10px;
}
.notice h3 {
	text-align: center;
	margin: 0 !important;
	font-size: 20px;
}
.event_section p {
	font-size: 12px;
	margin: 0px 0;
}
.event_section h3 {
	text-align: center;
	margin: 20px 0;
	font-size: 24px;
	letter-spacing: 2px;
}
.event_section .title_2::before {
	content: "";
	position: absolute;
	background-color: #BF0105;
	width: 120px;
	height: 2px;
	margin-top: 40px;
	margin-left: 22px;
}
.event_section a {
	font-size: 15px;
	color: #BF0105 !important;
	-webkit-transition: 1s;
	transition: 1s;
}
.event_section .btn-light {
	color: #212529;
	background-color: #ccc;
	border-color: #ccc;
	border-radius: 0;
	margin: 10px 0;
	font-size: 15px;
}
.table h3 {
	background-color: #fff;
	margin: 0px -15px !important;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}
.about_section button {
	background-color: #bbb;
	border-radius: 0px;
	padding: 6px 20px;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
	font-size: 15px;
}
#nav-tabContent {
	padding-top: 5px;
}
.about_section button {
	background-color: #bbb;
	border-radius: 0px;
	padding: 6px 20px;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
	font-size: 15px;
}
.about_banner p {
	font-size: 14px;
	text-align: justify;
}
.title {
	font-size: 18px;
	padding-left: 20px;
	color: #BF0105;
	margin: 10px 0;
}
.about_banner li {
	list-style: none;
	font-size: 14px;
}
label {
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 14px;
}
.title::before {
	content: "";
	position: absolute;
	background-color: #FF9E1B;
	width: 4px;
	height: 25px;
	margin-left: -19px;
	margin-top: -2px;
}
.h5, h5 {
	font-size: .9rem;
}
.about_banner a svg {
	color: #202633;
	font-size: 20px;
	margin-right: 5px;
	transition: 1s;
}
.notice_board h3 {
	font-size: 18px !important;
	color: #fff;
}
.about_banner .collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 12px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
	margin: 5px 0;
}





}


/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    .menu {
	position: relative;
}
    .carousel-indicators li {
	display: none;
}
    .image1{
        display: none;
    }
    .image2{
        display: none;
    }
    .image3{
        display: none;
    }
    .image4{
        display: none;
    }
    .image5{
        display: none;
    }
    .image6{
        display: none;
    }
    .image7{
        display: none;
    }
    .footer_top{
        display: none
    }
    .table p {
	color: #fff;
	text-align: center;
	padding: 10px 0px 0px 0px;
	font-size: 12px;
}
    .table h3 {
	background-color: #fff;
	margin: 0px -15px !important;
	font-size: 16px;
	padding: 5px;
}
    .academic_section {
	padding: 20px 0;
	background-image: url("../../assets/img/academics-holder.jpg");
}
    .academic_section svg {
	color: #FF9E1B;
	margin-right: 5px;
	font-size: 15px;
}
    .academic_section .list-group-item-action {
	width: 100%;
	color: #495057;
	text-align: inherit;
	font-size: 12px;
}
    .about_section svg {
	color: #FF9E1B;
	font-size: 15px;
}
    .about_section p {
	font-size: 14px;
	padding-top: 15px;
}
    .event_section p {
	font-size: 12px;
	margin: 0;
}
    .event_section a {
	font-size: 14px;
	color: #BF0105 !important;
	-webkit-transition: 1s;
	transition: 1s;
}
    .notice {
	background-color: #000;
	color: #fff;
	margin-bottom: 15px;
	padding: 10px;
	margin-top: 5px;
}
    .event_section .btn-light {
	color: #212529;
	background-color: #ccc;
	border-color: #ccc;
	border-radius: 0;
	margin: 10px 0;
}
    footer p {
	color: #fff;
	font-size: 14px;
	text-align: center;
}
    footer ul {
	margin-left: 176px;
	display: none;
}
    .event_section img {
	width: 95%;
	padding: 5px;
	border: 1px solid #999;
	margin-top: 3px;
}
    .event_section p {
	font-size: 12px;
	margin: 5px 0;
}

#nav-tabContent {
	padding-top: 25px !important;
}
.about_banner form input[type="text"] {
	width: 100%;
	border: none;
	background-color: #eeee;
	padding: 5px;
	margin: 05px 0;
	font-size: 12px;
}
.about_banner form input[type="email"] {
	width: 100%;
	border: none;
	background-color: #eeee;
	padding: 5px;
	margin: 5px 0;
	font-size: 12px;
}
.about_banner form textarea {
	width: 100%;
	border: none;
	margin: 5px 0;
	background-color: #eee;
	padding: 10px;
	font-size: 12px;
}
.about_banner form select {
	margin: 5px 0;
	width: 100%;
	border: none;
	background-color: #eee;
	padding: 5px;
	font-size: 12px;
}
.about_banner form button {
	display: block;
	margin: 5px 0;
	width: 100%;
	padding: 5px 0;
	background-color: #202633;
	border-color: #202633;
	font-size: 12px;
}
.notice {
	background-color: #000;
	color: #fff;
	margin-bottom: 15px;
	padding: 5px;
	margin-top: 10px;
}
.notice h3 {
	text-align: center;
	margin: 0 !important;
	font-size: 20px;
}
.event_section p {
	font-size: 12px;
	margin: 0px 0;
}
.event_section h3 {
	text-align: center;
	margin: 20px 0;
	font-size: 24px;
	letter-spacing: 2px;
}
.event_section .title_2::before {
	content: "";
	position: absolute;
	background-color: #BF0105;
	width: 120px;
	height: 2px;
	margin-top: 40px;
	margin-left: 22px;
}
.event_section a {
	font-size: 15px;
	color: #BF0105 !important;
	-webkit-transition: 1s;
	transition: 1s;
}
.event_section .btn-light {
	color: #212529;
	background-color: #ccc;
	border-color: #ccc;
	border-radius: 0;
	margin: 10px 0;
	font-size: 15px;
}
.table h3 {
	background-color: #fff;
	margin: 0px -15px !important;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}
.about_section button {
	background-color: #bbb;
	border-radius: 0px;
	padding: 6px 20px;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
	font-size: 15px;
}
#nav-tabContent {
	padding-top: 5px;
}
.about_section button {
	background-color: #bbb;
	border-radius: 0px;
	padding: 6px 20px;
	color: #fff;
	-webkit-transition: .5s;
	transition: .5s;
	font-size: 15px;
}
.about_banner p {
	font-size: 14px;
	text-align: justify;
}
.title {
	font-size: 18px;
	padding-left: 20px;
	color: #BF0105;
	margin: 10px 0;
}
.about_banner li {
	list-style: none;
	font-size: 14px;
}
label {
	display: inline-block;
	margin-bottom: .5rem;
	font-size: 14px;
}
.h5, h5 {
	font-size: .9rem;
}
.title::before {
	content: "";
	position: absolute;
	background-color: #FF9E1B;
	width: 4px;
	height: 25px;
	margin-left: -19px;
	margin-top: -2px;
}
.h5, h5 {
	font-size: .9rem;
}
.about_banner a svg {
	color: #202633;
	font-size: 20px;
	margin-right: 5px;
	transition: 1s;
}
.notice_board h3 {
	font-size: 18px !important;
	color: #fff;
}
.about_banner .collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 12px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 14px;
	margin: 5px 0;
}
}